@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

#bodyPedidos{
    display: grid;
    grid-template-areas:"header header header" "nav nav nav" "main main main" "footer footer footer";
}

main{ 
    display: grid;
    grid-area: main;
    grid-template-areas: "map pedidos";
    grid-row: auto;
    position: relative;
    grid-template-columns: 30% auto;
    height:auto;
}

main section{
    display: flex;
    flex-direction: column;
    border-width: 10px;
    border-color: #31A6FF;
    padding: 20px ;
}

.pedidoCriado{
    background-color: rgba(255, 255, 255, 1);
}

.title{
    background: none;
}

.titulo{
    padding: 0px;
    font-size: 50px;
    margin-top: 0px;
    text-align: center;
    background: none;
  }
main p{
    font-size: 15px;
}

#requestList{
    background: none;
    overflow-y:scroll;
    max-height: 400px;
}
#requestList section{
    width: 700px;
    margin-bottom: 5px;
    align-self: center;
}
#list{
    grid-area: pedidos;
    padding: 0px;
}

#map{
    margin-left: 50px;
    height: 530px;
    width: 100%;
}

.map-container{
    grid-area: map;
}

.pedidoMarker{
    border: none;
    font-family: 'poppins', sans-serif;
    text-align: center;
    padding: 3px 6px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pedidoMarker:hover {
    background-color: #31A6FF;
    color: white;
  }
  
  .pedidoMarker:focus {
     background-color: #31A6FF; 
     color: white;
  }
  .buttonBlueHandler{
    background-color:#31A6FF;
    border-radius: 5px;
    border: solid 2px #31A6FF ;
    padding: 10px 50px;
    font-size: 30px;
    text-align: center;
    width: 500px;
    align-self: center;
    color: white;
    margin-bottom: 30px;
  
    } 
  
   .buttonBlueHandler:hover{
    border: solid 2px #31A6FF ;
    background-color: white;
    color: #31A6FF;
    transition-duration: 500ms;
    padding: 10px 50px;
    font-size: 30px;
   }
  
   #PedPenHend{
       margin-top: 70px;
   }