#bodyPedidos{
    display: grid;
    grid-template-areas:"header header header" "nav nav nav" "cont cont cont" "footer footer footer";
}
#containerPedidos{
    display: grid;
    grid-area: cont;
    grid-template-areas: "map main";
}
main{ 
    display: grid;
    grid-area: main;
    background: none;
    background-color: #31a6ff50;
}

main section{
    display: flex;
    flex-direction: column;
    border-width: 10px;
    border-color: #31A6FF;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px ;
}

main h1{
    padding: 50px 0px 0px 20%;
    font-size: 50px;
    margin-bottom: 0px;

  }
main p{
    font-size: 15px;
}
div{
    height: 10px;

}

#requestList{
    background: none;
}

#map{
    display:grid;
    grid-area: map;
    height: 1000px;
}