  main{
    height:auto;
  }
  #formPedido{
    display: flex;
    align-items:left;
    justify-content: space-between;
    flex-direction: column;
    margin: 50px auto;   
    padding: 20px 10%;
    width: 30%; 
    background-color: rgba(255, 255, 255, 0.6);
    
  }

  main label{
      font-weight: bold;
      color: black;
      margin-top: 15px;
  }

  main h1{
    margin-top: 10px;
    padding: 0px 0px 5px 50px;
    font-size: 50px;
    margin-bottom: 0px;
    text-align: center;
  }

  .buttonMain{
    border: solid 3px #31A6FF ;
    background-color: white;
    color: #31A6FF;
    border-radius: 5px;
    padding: 10px 50px;
    font-weight: 500;
    font-size: 20px;
    text-align: center; 
    margin-top: 25px;
    margin-left: 0px;
    align-self: center;
    width: auto;

    } 

   .buttonMain:hover{
    background-color:#31A6FF;
    color:white;
    transition-duration: 500ms;
   }

   #map{
    margin-top: 25px;
    display: flex;
    height: 300px;
    width: 430px;
    align-self: center;
}

input, select {
  height: 30px;
  font-size: 15px;
  border-radius: 3px;
  border: none;
}

textarea {
  height: 100px;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  resize: none;
}

