
  main section{
    display: flex;
    align-items:left;
    justify-content: space-between;
    flex-direction: column; 
  }
  section{
    padding: 0% 5%;
    width:350px;
  }
  main h1{
    padding: 10px 0px 5px 50px;
    font-size: 50px;
    margin-bottom: 0px;
  }
  
  main p{
    padding: 0px 0px 0px 50px;
    margin-top: 0px;;
    font-size: 25px;
  }

  #description{
      height: 200px;
   
  }

  .buttonMain{
    border: solid 2px #31A6FF ;
    background-color: white;
    color: #31A6FF;
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 20px;
    text-align: center; 
    } 

   .buttonMain:hover{
    background-color:#31A6FF;
    color:white;
    transition-duration: 500ms;
   }

